
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

div.row {
	margin: 20px 0px;
}

span.label-medium {
	padding: 8px 10px;
    margin: 0px 8px;
    font-size: 16px;
}