
* {
	margin: 0px;
	padding: 0px;
}

.content {
	margin: 20px auto;
	width:  600px;
	border: 1px solid #999;
	padding: 10px;
}

.content h1 {
	color: red;
	text-align: center;
}

.content div.row{
	margin-top: 20px;
}

.content div.row span{
	display: inline-block;
	width: 255px;
	text-align: right;
}

.content div.row input[type=text]{
	padding: 3px 5px;
}

.content div.row input[type=submit]{
	padding: 3px 5px;
	display: block;
	margin: 0px auto 20px auto;
}

.content div.row p{
	font-weight: bold;
	foont-size: 20px;
	text-align: center;
}

.content div.result {
	margin-left:  50px;
}

.content div.result img{
	width: 100px;
	height: 100px;
	overflow: hidden;
	float: left;
}

.content div.result p{
	text-align: justify;
	font-size:  22px;
	height: 100px;
	line-height: 100px;
}

.content div.result p span{
	font-style:  italic;
}










