<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lưu ý về Array và Object</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(score, key) in objScore">
                {{ key }} : {{ score }}
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="number in arrNumber">{{ number }}</li>
        </ul>
    </div>
</body>
    <script>
    var app = new Vue({
        el: '#app',
        data: {
            objScore: {
                math: 7.9
            },
            arrNumber: [1,2,3,4,5,6]
        }
    })
    </script>
</html>