/* CSS Document */

.center_content{
	width: 585px;
	float: left;
	padding: 5px 10px;
}

.center_title_bar {
	width: 520px;
	height: 33px;
	float: left;
	padding: 0 0 0 40px;
	margin: 0 0 0 12px;
	line-height: 33px;
	font-size: 12px;
	color: #847676;
	font-weight: bold;
	background: url(../images/bar_bg.gif) no-repeat center;
}

.prod_box {
	width: 173px;
	height: auto;
	float: left;
	padding: 10px 10px 10px 11px;
}

.top_prod_box {
	width: 173px;
	height: 12px;
	background: url(../images/product_box_top.gif) no-repeat center bottom;
	float: left;
	padding: 0px;
	margin: 0px;
}

.bottom_prod_box {
	width: 173px;
	height: 10px;
	background: url(../images/product_box_bottom.gif) no-repeat center top;
	float: left;
	padding: 0px;
	margin: 0px;
}

.center_prod_box {
	width: 173px;
	height: auto;
	background: url(../images/product_box_center.gif) repeat-y;
	float: left;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

img.left_bt {
	float: left;
	padding: 6px 0 0 6px;
}

a.prod_details {
	width: 25px;
	display: block;
	float: left;
	background: url(../images/square-blue-add.gif) no-repeat left;
	padding: 0 0 0 20px;
	margin: 7px 0 0 38px;
	text-decoration: none;
	color: #0fa0dd;
}


.prod_details_tab {
	width: 173px;
	height: 31px;
	float: left;
	background: url(../images/products_details_bg.gif) no-repeat center;
	margin: 3px 0 0 0;
}














